# Dependencies
node_modules/
*/node_modules/

# Environment — JANGAN commit file ini
.env
backend/.env

# Build output — Railway akan build sendiri
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/

# Folder tidak terpakai
pharmasync-project/
